
body{
    background-color: black;
    
}

.container{
    display: grid;
    place-items: center;
    justify-content: center;
    
    font-size: xx-large;
    line-height: 65px;
    
}

.navl{
    position: relative;
    display: block;
color: transparent;
-webkit-text-stroke: 2px #e6e0e0;  

   
}

.navl:hover{
    -webkit-text-stroke: 1px #fffafa;
    color: rgb(201, 193, 182);
    transition: 0.25s;
}

/* .navl:hover::before{
    -webkit-text-stroke: 1px #fffafa;
     transform: translate(12px, -12px);
    color: #f396ac;
} */

.navl:hover::after{
    -webkit-text-stroke: 1px #fffafa;
    color: bisque;
    transform: translate(24px,-24px);
}

.navl::before,
.navl::after {
    content: attr(data-text);
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 1;
    transition: 0.5s;
    -webkit-text-stroke: 1px transparent;
} 






